.food-card {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background: #fff;
}

.food-card img {
  width: 100%;
  height: 110px;
  border-radius: 8px;
  object-fit: cover;
}

.food-card h3 {
  margin: 8px 0;
  font-size: 16px;
  font-weight: 600;
}

.food-card p {
  color: #e60000;
  font-weight: 700;
}

.food-card button {
  margin-top: 8px;
  background: #e60000;
  color: #fff;
  padding: 6px;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  border: none;
  font-weight: 600;
}
