.order-page {
  padding: 20px;
  max-width: 760px;
  margin: auto;
  background: #f5f5f5;
}

.order-tabs-wrapper {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100vw;
  margin-left: calc(50% - 50vw);  /* pulls it out of the container */
  margin-right: calc(50% - 50vw);
  background: #f5f5f5;
  padding: 10px 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}

.order-tabs {
  display: flex;
  background: #DDDDDD;
  margin-top: 35px;
  margin: 0 10px;
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 6px;
  overflow: hidden;
}

.order-tab {
  flex: 1;
  padding: 12px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  color: #505d62;
  transition: all 0.3s ease;
}

.order-tab.active {
  background: #014f50;
  color: #fff;
}

.order-divider {
  width: 100%;
  background-color: #eee;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 20px;
  border: 2px solid #eee;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.15); /* bottom shadow */
}

.order-content {
  margin-top: 40px;
}

/* EMPTY STATE */
  .empty-state {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;   /* centers children horizontally */
}

.empty-state img {
  width: 200px;
  opacity: 0.9;
}

.empty-state p {
  color: #555;
  margin: 6px 10px;
  font-size: 14px;
}

.empty-state button {
  margin-top: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 20px;
  border: none;
  width: 350px;
  height: 45px;
  border-radius: 6px;
  background: #014f50;
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.empty-icon {
  width: 220px;
  height: 220px;
  margin-top: 40px;
  margin-bottom: 20px;
}









