.order-page {
  padding: 20px;
  max-width: 760px;
  margin: auto;
  background: #f5f5f5;
}

.order-tabs {
  display: flex;
  background: #DDDDDD;
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 6px;
  overflow: hidden;
}

.order-tab {
  flex: 1;
  padding: 12px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  color: #505d62;
  transition: all 0.3s ease;
}

.order-tab.active {
  background: #014f50;
  color: #fff;
}

.order-content {
  margin-top: 40px;
}

/* EMPTY STATE */
.empty-state {
  text-align: center;
  padding: 30px 20px;
}

.empty-state img {
  width: 200px;
  opacity: 0.9;
}

.empty-state p {
  color: #555;
  margin-top: 6px;
  font-size: 14px;
  max-width: 175px;
}

.empty-state button {
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  width: 350px;
  height: 45px;
  border-radius: 6px;
  background: #014f50;
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.empty-state button:hover {
  background: #013b3c;
}

.empty-icon {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}














