@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.explore-btn {
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: 600;
  color: #014f50;
  cursor: pointer;
}

/* MIDDLE CONTENT */
.welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-illustration img {
  max-width: 60%;
  max-height: 40vh;
  object-fit: contain;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.welcome-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  color: #333;
}

.welcome-subtitle {
  font-size: 15px;
  margin-top: 8px;
  color: #555;
  width: 85%;
  line-height: 1.5;
}

/* BOTTOM SECTION */
.welcome-bottom {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.welcome-btn {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.welcome-btn.primary {
  background: #014f50;
  color: white;
}

.welcome-login-text {
  margin-top: 12px;
  font-size: 14px;
  color: #555;
}

.login-link {
  font-weight: 600;
  color: #014f50;
  cursor: pointer;
}
