@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Image Section */
.welcome-image-container {
  width: 100%;
  height: 50vh; 
  overflow: hidden;
}

.welcome-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Logo */
.welcome-logo {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  color: #014f50;
}

/* Bottom CTA section */
.welcome-bottom {
  margin-top: auto;
  margin-bottom: 40px;
  text-align: center;
}

.welcome-btn.primary {
  background-color: #014f50;
  color: white;
  padding: 14px 20px;
  width: 85%;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.welcome-login-text {
  margin-top: 14px;
  color: #555;
}

.login-link {
  color: #014f50;
  font-weight: bold;
  cursor: pointer;
}
